.showhujjat .box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.showhujjat .box .cart {
    width: 30%;
    text-align: center;
    margin-top: 64px;
}
.showhujjat .box .cart p {
    font-size: 24px;
    margin-top: 24px;
}
.showhujjat .box .cart .button {
    text-decoration: none;
    padding: 12px 24px;
    width: 232px;
    height: 48px;
    border: none;
    border-radius: 24px;
    color: white;
    background-color: #55697A;
    font-size: 16px;
}
.showhujjat .box .cart .button img {
    margin-right: 10px;
}
.showhujjat .box .cart a {
    text-decoration: none;
    color: #E47762;
    font-size: 16px;
}
@media (max-width:570px) {
    .showhujjat {
        width: 100%;
    }
    .showhujjat .box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    .showhujjat .box .cart {
        width: 100%;
        margin-bottom: 20px;
    }
}