.tarix .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tarix .main .image {
    width: 48%;
}
.tarix .main .image img {
    border-radius: 20px;
    width: 100%;
}
.tarix .main .text1 {
    width: 50%;
}
.tarix .main .text1 .title {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}

.tarix .main .text1 .title .titlePart p {
    margin: 0;
    padding: 0;
}
.locationOfPage {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 57px;
}
.locationOfPage p {
    margin: 0;
    padding: 0;
}
/*<<<RESPONSIVE>>>*/
/*Small devices (landscape phones, 570px and up)*/
@media (min-width: 0px) and (max-width:570px)  {
    .tarix .main {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: 16px !important;
    }
    .tarix  .img{
    display: none;
    width: 0;
  } 
  .tarix .text1 {
    text-align: left;
    margin-left: 16px;
    width: 100% !important;
  }
  .tarix .titlePart{
    margin-left: 0;
    text-align: left;
    width: 100%;
  }
  .tarix .title .titlePart h2{
    font-size: 24px;
    margin-left: 0px;
  }
  .tarix .title .titlePart p{
    font-size: 16px;
    width: 100%;
  }
  .tarix .title .bodyPi{
    font-size: 14px;
    /* display: none;  */
    width: 100% !important;
    margin-right: 16px !important;
    text-align: left;
  }
  .tarix  .bodyPi p{
    width: 100%;
  }
  .tarix .title .text2{
    font-size:14px;
    width: 100% !important; 
    text-align: left;
  }
  .tarix  .text2 p{
    width: 100%;
    margin-left: 16px;
  }
  .tarix .image {
    display: none;
  }
}
