.fotogalereya{
    width: 100%;
}
.fotoline{
    display: flex;
    width: 272px;
    height: 87px;
}
.fotoline .title h2{
    width: 209px;
    height: 48px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1F1F1F;
}
.fotogalereya .title p{
    width: 248px;
    height: 27px;
    top: 391px;
    left: 72px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: left;
}
.fotogalereya .holidays {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.fotogalereya .holidays .bigbox{
    width: 30%;
    margin-top: 50px;
    /* margin-left: 24px; */
    gap: 10px;
}
.fotogalereya .holidays .box{
    width: 100%;
    border-radius: 35px;
    border: 1px solid #1F1F1F;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
.fotogalereya .holidays .box:hover{
box-shadow: 0px 5px 10px 0px #0A1A2733;
}
.fotogalereya .holidays .box .img{
    width: 100%;
    margin-top: 24px;
    border-radius: 15px;
    background-color: #D9D9D9;
}
.fotogalereya .holidays .box h3{
    width: 100%;
    margin-top: 16px;
    margin-left: 24px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
}
.fotogalereya .holidays .box h5{
    width: 100%;
    margin-top: 6px;
    margin-left: 24px;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1F1F1F99;
}
.fotogalereya .holidays .box p{
    width: 100%;
    margin-top: 12px;
    opacity: 0.8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
}
.fotogalereya .holidays .box button{
    padding: 16px 58px;
    border: 1px solid var(--font-color, #1F1F1F);
    border-radius: 28px;
    margin-top: 20px;
}
.fotogalereya .holidays .box button p{
    width: 60px;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #1F1F1F;
}


/* RESPONSIVE */
@media (min-width: 0px) and (max-width:570px){
    .fotogalereya{
        margin-top: 48px;
        margin-right: 16px;
        margin-left: 16px;
        width: 100%;
    } 
    .fotogalereya .title{
        display: flex;
        align-items: left;
        width: 100%;
    }
    .fotogalereya .titlePart{
        width: 100%;
    }
    .fotogalereya .titlePart h3{
        font-size: 24px !important;
        margin: 0;
        width: 100%;
    }
    .fotogalereya .titlePart p{
        font-size: 16px !important;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .fotogalereya .holidays{
        width: 100%!important;
        display: block !important;
    }
    .fotogalereya .bigbox{
        width: 100% !important;
        text-align: center;
    }
    .fotogalereya .box{
        width: 100% !important;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fotogalereya .box button {
        margin: 0!important;
    }

}