.contact {
    margin-top: 150px;
}
.contact .inputPart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}
.contact .inputPart .singleInput {
    margin-top: 36px;
}
.contact .inputPart .singleInput p{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.contact .inputs {
    width: 50%;
}
.contact .inputPart .singleInput input, .contact .inputPart .singleInput select {
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(31, 31, 31, 0.20);
    padding-left: 18px;
    padding-top: 22px;
    padding-bottom: 23px;
    margin-top: 12px;
    outline: none;
}
.contact .inputPart .inputs button {
    color: white;
    background-color: #55697A;
    font-size: 16px;
    padding: 16px 58px;
    border-radius: 28px;
    border: none;
    margin-top: 56px;
}
.contact .image {
    width: 50%;
}
.contact .image img {
    width: 100%;
}

@media (max-width:570px) {
    .contact {
        width: 100%;
    }
    .contact .image {
        display: none;
    }
    .contact .inputPart .singleInput input, .contact .inputPart .singleInput select {
        width: 100%;
    }
    .contact .inputPart .singleInput input, .contact .inputPart input {
        width: 100%;
    }
    .contact .inputPart .inputs {
        width: 100%;
    }
}