.news {
    width: 100%;
    margin-top: 150px;
    background-color: #454343;
    padding-top: 56px;
    padding-bottom: 123px;
}
.news .title {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.news .titlePart h2 {
    color: white;
    font-size: 32px;
}
.news .titlePart p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}
.news .carusel {
    width: 100%;
}
.news .carusel .caruselItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news .carusel .singleCarusel {
    width: calc(100%/3);
    height: 525px;
    position: relative;
}
.news .carusel .singleCarusel button {
    width: 176px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #454343;
    border: 1px solid white;
    border-radius: 25px; 
    position: absolute;
    bottom: 0; 
    left: 130px;  
    z-index: 9;
}
.news .carusel .singleCarusel .box {
    width: 90%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 24px;
}
.news .carusel .singleCarusel .box h3 {
    margin-top: 16px;
    color: white;
    font-size: 24px;
}
.news .carusel .singleCarusel .box p {
    color: white;
    margin-top: 12px;
    font-size: 16px;
}