.news_detail {
    width: 100%;
    margin-top: 50px;
}
.news_detail .image_part {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.news_detail .image_part .image {
    width: 48%;
}
.news_detail .image img {
    width: 100%;
}
.news_detail .image_part .right_part {
    width: 48%;
}
.news_detail .image_part .right_part .text {
    margin-top: 50px;
}
/*<<<RESPONSIVE>>>*/
/*Small devices (landscape phones, 570px and up)*/
@media (min-width: 0px) and (max-width:570px)  {
    .news_detail  .image{
    display: none;
    width: 0;
  } 
}
/*Medium devices (tablets, 768px and up)*/
