.selection {
    margin-top: 150px;
}
.selection_none {
    display: none;
}
.selection .titlePart {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.selection .conditions .conditionsPart {
    padding-bottom: 33px;
}
.selection .conditions .conditionsPart .textPart {
    width: 100%;
    background-color: #E47762;
    border-radius: 35px;
    padding-bottom: 48px;
    padding-left: 50px;
    padding-right: 50px;
}
.selection .conditions .conditionsPart .textPart .singleText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}
.selection .conditions .conditionsPart .textPart .singleText .countPart {
    width: 77px;
    height: 77px;
    background-image: url('../../assets/images/Ellipse\ 13.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.selection .conditions .conditionsPart .textPart .singleText .countPart span {
    font-size: 36px;
    color: white;
}
.selection .singleText p {
    margin: 0;
    padding: 0;
    color: white;
}
.selection .conditions .imagePart {
    width: 20%;
}
.selection .conditions .imagePart img {
    width: 100%;
}
.selection .conditions .conditionsPart {
    width: 65%;
    position: relative;
}
.selection .conditions .conditionsPart button {
    width: 30%;
    padding: 16px 0;
    border-radius: 28px;
    border: 4px solid white;
    background-color: #E47762;
    color: white;
    align-items: center;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 35%;
}
.selection .conditions .conditionsPart button .link {
    text-decoration: none;
    color: white;
}
.selection .conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:570px) {
    .selection {
        width: 100%;
    }
    .selection .conditions .conditionsPart {
        width: 100%;
    }
    .selection .imagePart {
        display: none;
    }
    .selection .conditionsPart button {
        font-size: 13px!important;
    }
    
    .selection .singleText p {
        font-size: 14px;
    }
    .selection .singleText .countPart{
        width: 40px!important;
        height: 40px!important;
        margin-right: 40px!important;
        background-image: none!important;
    }
    
    .selection .singleText .countPart span {
        font-size: 20px!important;
    }
}